
/*Classes*/

/*.Wrap
{
}*/

.Top
{
    height: 100%;
    width: 100%;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: cornflowerblue;
}

.Left
{
    height: 10%;
    width: 100%;
    background-color: steelblue;
}

.Right
{
    height: 100%;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: skyblue;
}

.Right h2
{
    padding-left: 15px;

}

#AboutMe
{
    margin-bottom: 0px;
    padding-left: 15px;
    padding-right: 900px;
    padding-bottom: 350px;
    text-align: left;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
}

#Welcome
{
    margin-bottom: 0px;
    padding-left: 15px;
    padding-right: 900px;
    padding-bottom: 0px;
    text-align: left;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
}

.Bottom
{
    height: 100%;
    width: 100%;
    background-color: steelblue;
}

/*Elements*/

html
{
    background-color: steelblue;
}

ul
{
    margin-left: 800px;
    list-style: none;
    display: inline-block;
}

li
{
    
    width: 100px;
    display: inline-block;
}

a:link
{
    color: gold;
    text-decoration: none;
}

a:visited
{
    color: mediumturquoise;
}

a:hover
{
    color: white;
    text-decoration: underline;
}

img
{
    float: right;
    margin-right: 500px;
    border: 1px solid black;
}

